html, body {
  height: 100%;
}

body {
  font-family: 'Inconsolata', monospace;
  font-size: 2.7rem;
  font-weight: 400;
}

h3 {
  margin-bottom: 0em;
  font-size: 4rem;
  font-weight: 900;
}

h5 {
  font-size: 2.5rem;
  font-weight: 700;
}

.sectionheader {
  margin-top: 2em;
}

body {
  background-color: rgb(0, 0, 0);
  color: rgb(0, 255, 0) !important;
}

a {
  /* background-color: rgba(0, 255, 0, 0.496); */
  color: rgb(0, 255, 0) !important;
  text-decoration: underline !important;
}

.faa {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(0, 255, 0) !important;
}

a:hover {
  /* background-color: rgba(0, 255, 0, 0.496); */
  background-color: rgba(0, 0, 0, 0.0);
  color: rgb(0, 255, 0) !important;
  text-decoration: none !important;

}

.roletitle {
  margin-bottom: 1%;
  margin-top: 2%;
}

.roledescription {
  margin-left: 2%;
}

ul {  
  list-style-type: none;  
} 

li {
  padding-left: 0%;
}

ul > li::after {
  content: ""
}

.nobullets {
  list-style-type: none;
}

.experience {
  margin-bottom: 6rem;
}

.publications {
  margin-bottom: 3rem;
}
