html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    overflow: auto;
    height: 100%;
}
h1 {
    font-family: 'Signika Negative', sans-serif;
    font-size: 2.5em;
}
h3 {
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.5em;
}
h2 {
    font-family: 'Signika Negative', sans-serif;
    font-size: 2em;
    animation: slide 2s ease;
}
h4 {
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.75em;
}

@keyframes slide {
    0% {
        transform: translateX(-200px) scale(2, 2);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

nav {
    width: 100%;
    height: 3em; 
    position: fixed; 
    background-image: linear-gradient(to top left, #35b0e0, #00e1ff);
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    margin: inherit;
    box-shadow: 0 5px 20px rgb(170, 170, 170);
    z-index: 100;
}

nav ul {
    padding: 0.75em;
    margin: auto auto;
    list-style: none;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    font-family: 'Signika Negative', sans-serif;
    padding: 0.75em;
    color: white    ;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.7s cubic-bezier(0.38, 0.46, 0.01, 1.02);
    letter-spacing: 0.75px;
}
nav ul li a:hover {
    color: rgb(0, 60, 255);
    text-decoration: none;
}

.spacer {
    padding-top: 0.5em;
}
.inner {
    margin-left: 17.5%;
    margin-right: 17.5%;
    height: 100%;
    padding-top: 7em;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    color: rgb(77, 77, 77);
}
.pic {
    width: 30%;
    height: 30%;
    border-radius: 1em;
}
.name {
    text-align: center;
    position: relative;
    padding-top: 7.5%;
    max-width: 100%;
    width: inherit;
    text-align: left;
}
.about-me {
    padding-top: 1%;
    position: relative;
}   
.flex-container {
    display: flex;
    flex-direction: column;
}
.sectiontitle {
    padding-top: 10%;
    padding-bottom: 5%;
}
.skills {
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.75em;
}
.contact-info {
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.75em;
    padding-top: 5%;
}
.child {
    padding-bottom: 0.5%;
}
.description {
    font-size: 0.8em;
    padding-bottom: 3%;
}
.achievements {
    font-family: 'Signika Negative', sans-serif;
}
.achievementstitle {
    padding-top: 10%;
    padding-bottom: 1%;
}
.achievementsdata {
    font-size: 1.75em;
}
.contactinfo {
    font-size: 0.75em;
}

.icons ul {
    list-style: none;
    padding: 0;
}

.icons ul li {
    display: inline-block;
    padding-right: 3%;
}

.icons svg * {
    fill: url(#gradient);
    animation: unhovereffect 0.5s forwards;

}
.icons svg:hover * {
    animation: hovereffect 0.5s forwards;
}

@keyframes hovereffect {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes unhovereffect {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.maillink:hover {
    text-decoration: none;
    color: linear-gradient(to top left, #35b0e0, #00e1ff);
}
/*
.htmlcssbar, .javascriptbar, .javabar, .pythonbar {
    height: 1.5em;
	position: relative;
	background: rgb(170, 170, 170);
	-moz-border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	border-radius: 1.5em;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 5%;  
    box-shadow: 0 5px 10px rgb(139, 139, 139);
    overflow: visible;
    display: flex;
    z-index: 9;
}

.progressfill {
    height: 1em;
    width: 85%;    
    justify-content: center;
    align-self: center;
    border-radius: 1.5em;
    overflow: visible;
    background-image: linear-gradient(to top left, #35b0e0, #00e1ff);
    z-index: 10;
    display: block;
}
*/
body {
    height: 100%;
    background: white;
}
